@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;800&family=Vina+Sans&display=swap');

img{
    width: 150px;
    border-radius: 50%;
}

h1{
    background-color: #6F3A1B;
    text-align: center;
    color: white;
    font-family: 'Karla';
    font-weight: bolder;
}

main{
    display: flex;
    justify-content: center;
    justify-content: space-between;

}
article{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    background-color: #1B506F;
    padding: 15px;
    border-radius: 10px;
}

footer{
    background-color: #6F3A1B;
    color: white;
}